{% extends "layout.html" %}

{% block container %}

<div class="row">
        <div class="mid">
          <div class="text-center">
            <h1 class="maintext">
              Lecisz z nami?
            </h1>
          </div>
        </div>
        <div class="mid">
          <div class="text-center">
            <a href="{{ url_for('search') }}">
                <button type="button" class="mybtn">
                    <i class="fas fa-search"></i> <br><br>
                    Szukaj
                </button>
            </a>
          </div>
        </div>
        <div class="mid">
          <div class="text-center">
            <a href="{{ url_for('database_menegment') }}">
                <button type="button" class="mybtn">
                    <i class="fas fa-database"></i> <br><br>
                    Zarządzaj
                </button>
            </a>
          </div>
        </div>
</div>

{% endblock container %}
